@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/ringtail-sans-serif-personal-use");
@import url("https://fonts.cdnfonts.com/css/tt-norms-pro");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: TT Norms Pro, Poppins, sans-serif;
}
.logo {
  font-family: "Ringtail Sans Serif Personal Use", TT Norms Pro;
}
