@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/ringtail-sans-serif-personal-use");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/estellothy");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Poppins, sans-serif;
}

body {
  background-color: #ebf5f3;
}

.cta-title {
  font-family: "Estellothy";
  font-size: 80px;
  color: #ffd041;
}

.sponsor {
  font-size: 20px;
  margin-bottom: -8px;
  color: rgb(167, 167, 167);
}

.sponsor.child {
  font-size: 14px;
  color: rgb(167, 167, 167);
}

.c-card:hover img {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}